h1{
  color: blue;
  font-size: 200%;
  text-indent: 20px;
}

p{
  font-family:"Sans-serif";
  font-size: 100%;
  text-indent: 20px;
  margin-left: 20px;
}

#content{
  background-color: #B3D5F6;
  width: 800px;
  min-height: 350px;
  margin:40px;
  padding: 20px;
  border: 1px solid #0784FF;
  font-size:19px;
}
